body{
  margin:0;
}
h1{
  font-size: 32px;

}
h3{
  color:grey;
  font-size: 14px;
  margin-bottom: 26px;
  margin-top: -17px;
}

.form1{
margin:auto;
  max-width:292px;
}
.containers{
position: relative;
  width: 100%;
  height:100%;
  background-color: grey;


}
.container1{
position: absolute;
  font-family: sans-serif;
  background-color: white;
  width:600px;
  height: 500px;
  right:703px;
  margin-top: 103px;
}
.container2{
position:absolute;
  background-color:#D3D3D3;
  right:103px;
  width:600px;
  height: 500px;
  margin-top: 103px;
}
.signin,.signin2{
  width:294px;
  height: 42px;
  border-radius: 8px;
  margin-top:20px;
  border-color:#D3D3D3;
  border-style: solid;
  font-size: 16px;
}
.signin{
  background-color: #8E5CCF;
}
.c1{
  float:left;
  color: #ABB0B8;
}
.f1{
  float: right;
  text-decoration: none;
  color::#800080;

}
.b1{
  border-color:#D3D3D3;
  border-radius: 8px;
   width:294px;
   height: 42px;
   margin-top:7px;
   border-style: solid;
}
.last{
  margin: 7px auto;
font-size: 12px;
text-align: center;
}
a{
  text-decoration: none;
}
img{
width:600px;
height:500px;
}
